.container {
    max-width: 100vw;
    background: #FDF5E9;
}

.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    padding: 10px;
}

.title {
    margin-top: 30px;
    color: var(--orange);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.desc {
    margin-top: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}